        body {
            margin: 0;
            background-image: url('./background.jpg');
            background-size: cover;
            min-height: 100vh;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 700;
            /* color: aliceblue; */
        }
        
        .h1 {
            display: flex;
            text-align: center;
            justify-content: center;
            margin: auto;
            color: aliceblue;
        }
        
        .container {
            margin-top: 200px;
        }
        
        .card-header {
            color: white;
            background-color: black;
        }
        
        .new-quote {
            height: 50px;
            width: 200px;
            background: black;
            margin: 20px;
            float: left;
            box-shadow: 0 0 1px #ccc;
            -webkit-transition: all 0.5s ease-in-out;
            border: 0px;
            color: #fff;
        }
        
        .new-quote:hover {
            -webkit-transform: scale(1.1);
        }
        
        .linkedin {
            /* height: 40px;
            width: 50px; */
            background: black;
            /* margin: 10px; */
            /* float: left; */
            box-shadow: 0 0 1px #ccc;
            -webkit-transition: all 0.5s ease-in-out;
            border: 0px;
            color: #fff;
        }
        
        .linkedin:hover {
            -webkit-transform: scale(1.1);
        }
        
        .twitter {
            /* height: 40px;
            width: 50px; */
            background: black;
            margin: 10px;
            /* float: left; */
            box-shadow: 0 0 1px #ccc;
            -webkit-transition: all 0.5s ease-in-out;
            border: 0px;
            color: #fff;
        }
        
        .twitter:hover {
            -webkit-transform: scale(1.1);
        }